 .ribbon {
  background-color: #a00;
  overflow: hidden;
  white-space: nowrap;
  /* top left corner */
  position: absolute;
  left: -70px;
  top: 0px;
  /* for 45 deg rotation */
  -webkit-transform: rotate(-25deg);
     -moz-transform: rotate(-25deg);
      -ms-transform: rotate(-25deg);
       -o-transform: rotate(-25deg);
          transform: rotate(-25deg);
  /* for creating shadow */
  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
}
.ribbon a {
  border: 1px solid #D4AF37;
  color: #fff;
  display: block;
  font: bold 15pt 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 80px;
  text-align: center;
  text-decoration: none;
  /* for creating shadow */
  text-shadow: 0 0 5px #444;
}
